/*OVERALL*/
* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 29px;
    color: #333333;
}

/*NAVIGATION*/


#navigation {
    font-size: 17px;
    background-color: #333333;
    font-family: 'Playfair Display', sans-serif;
    color: white;

}

.navbar {
    background-color: black;
}
.navbar-brand {
    margin: -22px;
}

.logo {
    margin-top: 0px;
    max-width: 20%;
    margin-left: -25px
}



.navbar-nav >li >a {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    text-align: right;
}


.form-control {
    margin-top: ;
}

#main-nav-menu {
    justify-content: flex-end;
}

/*CAROUSEL INNER*/
#myCarousel {

}

.carousel-inner {

}

#carousel-images {
    max-height: 700px;
}

/*ARTICLES*/
#theTabs {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
}

.subheader {
    font-family: 'Helvetica-Neue', Hevetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.blueText {
    color: #337ab7;
}
.articles {
    font-family: ;
    margin-top: ;
    margin-left: ;
    margin-right: ;
    padding-left: ;
    padding-right: ;
    padding-top: ;
    border-top: 8px ;
    padding-bottom: ;
    margin-bottom: ;
    border-bottom: 8px ;

}

.article-text {
    font-size: 20px;
    font-family: ;
}

.photo-caption {
    text-align: center;
}
.image-companions {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}


/*FANDOM & Fan Art*/
#fandom {
    padding-bottom: ;
    border-bottom:  ;
    margin-left: ;
    margin-right: ;
}

#books {
    font-family: 'Playfair Display', arial, sans-serif;
}

.source {
    margin-top: 5px;
}

.fanart {
    font-family:'Playfair Display', serif;
}
/*FOOTER*/


#footer {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
}
